*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif, arial;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* --------------HEADER------------ */
header{
    width: 100%;
    background: url("../img/bg.jpg") #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}
header .contenedor{
    position: relative;
    height: 600px;
}

header .menu 
{
    width: 100%;
    text-align: right;
}
header .menu a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}

header .menu a:hover{

    text-decoration: underline;
  
}

header .textos{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .textos .nombre{
    font-size: 50px;
    font-weight: 600;
}

header .textos .nombre span{
    font-size: 50px;
    font-weight: 300;
}

header .textos h3{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

/*------------- Acerca de---------- */
main{
    background: url(../img/bg-textura.png);
    background-repeat: repeat;
}

main .acerca-de .contenedor
{
    overflow: visible;
    position: relative;
}

main .acerca-de .foto{
    width: 80%;
    position: absolute;
    left: 0px;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
}

main .acerca-de .foto img{
    vertical-align: top;
    width: 100%;
}

main .acerca-de article{
    background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	float: right;
	/*top: 30px;*/
	top: 500px; /*Con Parallax*/
	z-index: 1;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
}

main .acerca-de article h3
{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

main .acerca-de article p
{
    line-height: 28px;
    margin-bottom: 15px;
}

/* ---------------MENU------------ */
main .menu{
    padding-top: 570px;
    margin-bottom: 50px;

}
main .menu .titulo{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
 .btn #btn-categoria{
    width: 15%;
    background-color: transparent;
    margin-bottom: 8px;
    border: none;
    outline: none;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
}
main .menu .contenedor-menu,main .menu .contenedor-menu2 {
	border: 1px solid #000;
	background:transparent;
	padding: 10px;
	overflow: hidden;
}

main .menu article{
    width: 50%;
    float: left;
    padding: 20px;

}

main .menu .categoria{
    font-size: 22px;
    font-weight: 700;
    margin-bottom:40px;
    text-align: center;
}

main .menu .platillo{
    margin-bottom: 30px;
    padding-top: 20px;
    border-bottom: 4px dotted;
    overflow: hidden;
}main .menu .precio{
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
}
main .platillo .nombre{
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
}

main .menu .descripcion{
    font-size: 16px;
    clear: both;
}

/*------------ Galeria -------------*/

main .galeria{
    overflow: hidden;
}

main .galeria .foto{
    width: 25%;
    float: left;
}
main .galeria .foto img{
   width: 100%;
   opacity: .6;
   vertical-align: top;
}

main .galeria .foto img:hover{
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* --------------Ubicacion ------------*/

main .ubicacion{
    background: white;
    padding: 60px 0;
    overflow: hidden;
}

main .ubicacion .titulo{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

main .ubicacion .direccion{
    float: left;
    width: 50%;
    text-align: left;
}

main .ubicacion .calle{
    margin-bottom: 15px;
}
main .ubicacion .horario{
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}

main .ubicacion .horario h4{
    text-align: center;
    margin-bottom: 20px;
}

main .ubicacion .horario .entre-semanas,main .ubicacion .horario .fin-semanas{
    width: 50%;
    float: left;
    text-align: center;
}

/* ----------MAPA------------ */
main .ubicacion .mapa{
    width: 100%;
    overflow: hidden;
}

main .ubicacion iframe{
    width: 100%;
    max-height: 600px;
}

/*------------ FOOTER -------------*/

footer{
    background-color: rgba(1, 2, 8, 0.719);    
}
footer .copyright{
    text-align: center;
    padding: 15px 0;
    color: white;
}

/* ---------------MEDIAQUERY ----------- */
@media screen and (max-width: 800px){
    header .contenedor{
        position: static;
        height: auto;
    }

    header .textos {
        position: static;
        margin: 100px 0;

    }

    header .menu {
        text-align: center;
        
    }

    header .menu a {
        margin: 10px 20px;
    }

    header .textos .nombre{
        font-size: 30px;
    }

    header .textos h3{
        font-size: 18px;
    }
    main .acerca-de .foto{
        width: 100%;
        position: relative;
    }

    main .acerca-de article{
        width: 100%;
        position: relative;
        top: -50px;
        transform: translate(0px,0);
    }

    main .menu {
        padding-top:250px;
    }

    main .menu article{
        width: 100%;
    }
    main .galeria .foto{
        width: 50%;
    }
    main .mapa{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:400px){
    main .acerca-de article h3{
        font-size: 30px;
        margin-bottom: 10px;
    }

    main .menu .article .nombre, 
    main .menu .article .precio{
        font-size: 16px;
        line-height: 16px;
        
    }
    
    main .ubicacion .direccion{
        margin-top: 7px;
    }
    main .ubicacion .direccion,main .ubicacion .horario{
        width: 100%;
        text-align: center;
    }
}